body {
    font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

}

.eventInfo_underline {
    height: 1px;
    background-color: silver;
    margin-bottom: 20px;
    margin-top: 20px;
}

.eventInfo__event_date {
    font-weight: 400;
    color: #757575;
    font-size: 16px;
}

.eventInfo__hostingInfo {
    display: flex;

}

.eventInfo__shareDiv {
    border: 1px solid silver;
    padding: 10px;
    color: #757575;
    margin-left: 60%;
    margin-top: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.eventInfo__hosting_header {
    margin: 1% 15% 0%;
    line-height: 26px;
    padding-top: 10px;

}

.eventInfo__event_name {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.eventInfo__hostingInfo_image {
    height: 80px;
    border-radius: 40px;
    width: 80px;
    margin-top: 30px;
}

.isGoingEventDiv {
    height: 60px;
    padding: 10px;
    text-align: center;
    background-color: #0e6c81;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .eventInfo__hosting_header {
        margin: 2%;
        padding-left: 30px;
    }

    .eventInfo__hostingInfo {
        margin-right: 40px;
        flex-direction: column;

    }

    .eventInfo__shareDiv {
        margin-left: 10%;
        margin-top: 0px;
        width: 100px;
    }

    .eventInfo__event_date {
        text-align: center;

    }

    .eventInfo__event_name {
        font-size: 20px;

    }
}

@media only screen and (min-width: 992px) {}