.eventInfo__sidebar_upper_div {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

.eventInfo__sidebar_lower_div {
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.eventInfo__sidebar_container {
    max-width: 400px;
    /* margin-right: 10%; */
    /* padding: 20px; */
    margin: 80px 0;
    margin-left: 50px;
    position: sticky;
    top: 15%;
    left: 20%;
}

@media only screen and (max-width: 600px) {
    .eventInfo__sidebar_container {
        visibility: hidden;
    }
}
@media only screen and (max-width: 992px) {
    .eventInfo__sidebar_container{
        display: none;
    }
} 
