.Login__loginForm{
    max-width: 460px;
    padding: 32px 32px 16px;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    color: rgba(0,0,0,.87);
    margin: 90px auto;
    border: 1px solid silver;
}
.loginform__heading{
    font-size: 34px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: -.02em;

}
.loginform__para{
    font-size: 13px;
    line-height: 1.6;
    font-weight: 500;

}
.login_underline{
    height: 1px;
    background-color: silver;
    margin-bottom: 20px;
    margin-top: 20px;
}
 .login__login_button{
    background: #d01031;
    border-color: transparent;
    display: block;
    width: 30%;
    text-align: center;
    padding: .5em;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.45;
    min-height: 36px;
    cursor: pointer;
    margin-top: 30px;
 }
 .loginform__input{
    padding: 8px;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: none;
    max-width: 100%;
    width: 550px;
    margin:10px 0px ;
 }
 .login__label{
    font-size: 13px;
    font-weight: 600;
   margin-bottom: 100px;
 }
 .login__social_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
 }
 .login__facebook_div{
    padding: 15px;
    background-color: #3b5998;
    border-color: transparent;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
 }
 .login__single_span{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.45;
    margin-left: 80px;
    margin-right: 80px;
 }
 .login__single_div{
    
    padding: 15px 20px;
    border: 1px solid rgba(0,0,0,.26) !important;
    color: grey;
    margin-bottom: 20px;
    margin-bottom: 20px;
 }

