.loginHeader__startAGroup{
    color: #F64060 ;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
}
.loginHeader__login_text{
    color: grey;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
}
.LoginHeader_right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50%;
    width: 50%;
}
.header{
    display: flex;
    padding :0px 20px 0px 10px;
    border-bottom: 1px solid silver;
}
.login__select{
    border: 1px solid silver;
}

@media only screen and (max-width: 992px) {
    .LoginHeader_right{
       margin-left: 30%;
        width: 50%;
    }
} 

@media only screen and (max-width: 600px){
    .LoginHeader_right{
        margin-left: 10%;
        width: 80%;
     }
     .login__select{
        display: none;
     }
     .loginHeader__login_text{
       margin-left: 5px;
    }
    .logo{
        width: 70px;
    }
}
