.addEventLikes__Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin : 2% 40% 15% 0%;
    
}
.addEventLikes__attendes_image{
    height: 80px;
    border-radius: 40px;
    width: 80px;
    margin-left: 5px;
    margin-right: 40px;
}
textarea{
    border-radius: 8px;
    padding: 5px 10px ;
    border : 1px solid silver
}

.send_icon{
    margin-left: 30px ;
    font-size: 30px;
    color: grey;
}
@media only screen and (max-width: 600px){
    .addEventLikes__Container{
        /* flex-direction: column; */
        align-items: flex-start;
        margin :10% 0%;
    }
    textarea{
        width: 150px;
        margin-right: 0px;
    }
    .addEventLikes__attendes_image{
        margin-left: 0px;
        margin-right: 0px;
    }
    .send_icon{
        margin-top: 20px;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 992px) {
    textarea{
       width: 1000px;
        margin-right: 0px;
    }
    .send_icon{
        margin-top: 0px;
        margin-left: 30px;
        font-size: 70px;
    }
    .addEventLikes__Container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin : 2% 10% 15% 0%;
        
    }
} 