nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 10vh;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.left {
    width: 60%;
    /* border: 1px solid red; */
    justify-content: flex-start;
}

.left__search {
    margin-left: 50px;
    display: flex;
}

.left__search>input {
    padding: 10px 15px;
    border: 1px solid rgb(218, 218, 218);
    font-family: 'Poppins',
        sans-serif;
    font-size: 14px;
    width: 250px;
}

.left__search>input:nth-of-type(1) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.left__search>input:nth-of-type(2) {
    border-left: none;
}

.left__search>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    background-color: #F64060;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.left,
.actions {
    display: flex;
    align-items: center;
}

.actions {
    width: 280px;
    justify-content: space-between;
}

.actions>p {
    font-size: 15px;
    color: #339BA9;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0;
}

.actions__icon {
    font-size: 25px;
    cursor: pointer;
    color: rgb(95, 95, 95);
}

.actions>div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.actions__avatar {
    font-size: 40px;
    color: rgb(95, 95, 95);
}

.actions__arrow {
    font-size: 18px;
    color: rgb(95, 95, 95);
    transition: all 0.1s ease;
}

.action__options {
    display: none;
    position: absolute;
    top: 100%;
    left: -200%;
    background-color: white;
    padding: 15px;
    width: 180px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    cursor: auto;
}

.action__options>p {
    margin: 10px 0;
    cursor: pointer;
}

.action__options>hr {
    margin: 20px 0;
    color: rgb(218, 218, 218);
}

.actions>div:hover .actions__arrow {
    transform: rotateZ(180deg);
}

.actions>div:hover .action__options {
    display: block;
}

.action__options>p:hover {
    color: #339BA9;
}