.profile {
  width: 60%;
  height: 480px;
  display: flex;
  margin: 60px auto;
}

.profile_topbar {
  display: flex;
  margin: 20px;
}
.profile_topbar div {
  margin: 5px 20px;
}
.profile_topbar h3 {
  font-weight: 700;
}
.add_bio {
  color: darkblue;
  margin-top: 30px;
  border-bottom: 1px solid lightgray;
  height: 60px;
  padding: 15px;
  font-size: large;
  cursor: pointer;
}
.add_bio:hover {
  text-decoration: underline;
  font-size: larger;
}
.profile_meetups {
  border-bottom: 1px solid lightgray;
}
.profile_meetups h1 {
  font-weight: 600;
  padding: 10px;
}

.profile_right {
  width: 35%;
  margin-right: 0px;
  margin-left: 45px;
}
.profile_right > div:nth-child(1) > p:hover {
  text-decoration: underline;
}
.profile_interest {
  border-bottom: 1px solid lightgray;
}
.profile_interest p {
  color: darkblue;
  cursor: pointer;
}
.profile_interest p:hover {
  text-decoration: underline;
}
.interest_h2 div {
  text-align: center;
  border-bottom: 1px solid darkgray;
  margin-top: 3px;
}
.interest_h2 h2 {
  font-weight: 600;
}
.interest_h2 > div:hover {
  background-color: lightgray;
  font-size: larger;
}
