.evetInfoDetails__details_container{
    margin : 0% 14%;
    padding : 5% 16px;
    line-height: 16px;
    background-color: whitesmoke;
}
p{
    font-size: 16px;
    margin-top: 20px;
}
ol{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 2%;
}