.evetInfoDetails__details_container {
    padding: 5% 16px;
    line-height: 28px;
    background-color: whitesmoke;
    width: 60%;
}

p {
    font-size: 16px;
    margin-top: 20px;
}

ol {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 2%;
}

@media only screen and (max-width: 600px) {
    .event_image {
        width: 250px;
        height: 150px;
        margin-left: 10%;
    }

    .evetInfoDetails__details_container {
        margin: 0% 4%;
    }
}

@media only screen and (min-width: 992px) {}