.signupform__input{
    padding: 8px;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: none;
    max-width: 100%;
    width: 550px;
    margin:10px 0px ;
}
.signup__form{
    margin: 2% 37%;
   
   
}
.signup__label{
    font-size: 13px;
    font-weight: 600;
   margin-bottom: 100px;
}
.signup__para{
    color: rgba(0,0,0,.54);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6
}
.signup__continue_button{
    background: #d01031;
    border-color: transparent;
    display: block;
    width: 100%;
    text-align: center;
    padding: .5em;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.45;
    min-height: 36px;
    cursor: pointer;
    margin-top: 30px;
}